# dependencies
/node_modules
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# production
/dist

# misc
**.DS_Store
.github
.vscode

.dockerignore
.gitignore
Dockerfile
Dockerfile.dev
.prettierrc.json
.prettierignore
.drone.yml
.releaserc.json
**/*.md