# dependencies
/node_modules
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# production
/dist

# misc
**.DS_Store
.github
.vscode
**/*.md

# docker
.git
.dockerignore
Dockerfile
Dockerfile.dev
Dockerfile.nvidia
docker-compose.yml