.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem 0;
  background-color: var(--ifm-color-primary);
}

.bannerCode {
  width: 500px;
  max-width: calc(100% - 20px);
}

.header {
  text-align: center;

  > h1 {
    font-size: 3rem;
  }
  > p {
    font-size: 1.5rem;
    font-style: italic;
  }
}

.buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 40px;

  &:first-child {
    background-color: var(--ifm-color-primary);
  }
}

.infoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  padding: 4rem 0;
}

.infoSection {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - 20px);
  max-width: 600px;

  img {
    width: 100%;
    border-radius: 15px;
  }
  ul {
    text-align: center;
    list-style: inside;

    li {
      margin-left: -30px;
    }
  }
}
