name: Test

on:
  push:
    branches: ["dev", "feat/**", "fix/**", "renovate/**"]
  pull_request:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      # SETUP
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: "25.x"
          cache: "yarn"

      # TEST
      - run: yarn --immutable
      - run: yarn test
      - run: yarn build
